/*
  used to style custom iframe-to-load video iframe (cf iframe-to-load.js)
  Youtube, Dailymotion, Vimeo, Facebook
*/
body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
p{
  margin: 0;
}
img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
svg{
  display: block;
  position: absolute;
  z-index: 100;
}

.lowweb{
  &--youtube {
    svg{
      top: 50%;
      left: 50%;
      width: 68px;
      height: 48px;
      margin-top: -34px;
      margin-left: -24px;
    }
    img{
      object-fit: cover;
    }
    &:hover svg path:first-child{
      fill-opacity: 1;
      fill: red;
    }
    .lowweb__title{
      position: absolute;
      top: 0;
      left: 0;
      color: #eee;
      font-size: 18px;
      font-family: "YouTube Noto",Roboto,Arial,Helvetica,sans-serif;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 70%;
      margin-top: 21px;
      margin-left: 24px;
      text-shadow: 0 0 2px rgba(0,0,0,.5);
      text-align: left;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
  }
  &--dailymotion{
    svg{
      top: 50%;
      left: 45px;
      width: 80px;
      height: 80px;
      margin-top: -40px;
    }
    a{
      &:before{
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: black;
        opacity: 0.5;
      }
    }
    // &:hover:before{
    //   opacity: 0;
    // }
    .lowweb__container{
      position: absolute;
      left: 170px;
      top: 50%;
      transform: translateY(-50%);
      color: white;
      font-family: Retina, sans-serif;
      width: 320px;
    } 
    .lowweb__title{
      font-size: 24px;
      line-height: 1.2;
      max-height: 57.6px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .lowweb__description{
      font-size: 14px;
    }
    @media only screen and (max-width: 480px){
      .lowweb__title{
        font-size: 14px;
      }
      .lowweb__container{
        left: 100px;
      }
      svg{
        width: 50px;
        height: 50px;
        margin-top: -25px;
        left: 25px;
      }
    }
  }
  &--vimeo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    > div{
      max-width: calc(177.778vh);
      height: calc(56.25vw);
      position: relative;
      width: 100%;
    }

    svg{
      left: 10px;
      bottom: 10px;
      width: 65px;
      height: 40px;
    }
    &:hover svg path:first-child{
      fill: #00ADEF;
      fill-opacity: 1;
    }
    .lowweb__container{
      position: absolute;
      top: 0;
      margin: 1em;
      font-family: "Helvetica Neue",Helvetica,Arial!important; 
      color: rgb(0, 173, 239) !important;
    }
    .lowweb__title{
      display: inline-block;
      font-size: 20px;
      padding: .1em .2em;
      font-weight: 700;
      background-color: rgba(23,35,34,.75);
    }
    .lowweb__author{
      display: inline-block;
      margin-top: 2px;
      font-size: 12px;
      font-weight: 700;
      padding: .2em .5em;
      background-color: rgba(23,35,34,.75);
      span{
        color: white;
        font-weight: 400;
      }
    }
  }
  // &--facebook {
  //   svg{
  //     top: 50%;
  //     left: 50%;
  //     margin-top: -40px;
  //     margin-left: -40px;
  //   }
  //   .lowweb__container{
  //     position: absolute;
  //     color: white;
  //     font-size: 14px;
  //     line-height: 18px;
  //     font-family: 'helvetica neue', helvetica, arial, sans-serif;
  //     bottom: 0;
  //     width: 100%;
  //     height: 58px;
  //     padding: 16px 0;
  //     background: linear-gradient(to bottom, rgba(20, 22, 26, .7), rgba(20, 22, 26, 0));
  //     p{
  //       margin-left: 16px;
  //     }
  //   }
  // }
}
