*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.options{
  width: 960px;
  visibility: hidden;
  &--active{
    visibility: visible;
  }
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
hr{
  border: 0;
  border-top: 1px solid #BBB;
}
.inline {
  display: inline-block;
}
.input {
  white-space: nowrap;
  padding: 16px 20px;
  border-bottom: 1px solid #BBB;
  font-size: 16px;
  &__field {
    width: 210px;
    vertical-align: top;
  }
  &__text {
    margin: 0;
    display: inline-block;
    width: calc(100% - 210px);
    padding-right: 5%;
    vertical-align: bottom;
    white-space: normal;
  }
  &__info {
    display: inline-block;
    margin: 0;
    position: relative;
    font-size: 14px;
  }
  &__label{
    margin: 0;
    margin-bottom: 4px;
    font-weight: bold;
  }
}
.status{
  margin-top: 10px;
  height: 20px;
  font-weight: bold;
}
button {
  margin-top: 10px;
  padding-left: 4px;
  padding-right: 3px;
}