body {
  background-color: #F0F0F0; }

img {
  max-width: 100%;
  height: auto; }
  img.half {
    width: 50%;
    height: auto; }

video {
  max-width: 100%;
  height: auto; }

figure {
  margin: 0; }

section > img {
  /*position: relative;*/ }

p {
  margin: 0;
  max-width: 768px; }

hr {
  color: #CCC;
  border: 0;
  border-top: 1px solid #CCC; }

section {
  margin: 0 20px 40px;
  padding: 40px 20px;
  border-bottom: 1px solid #CCC; }
  section:last-of-type {
    border-bottom: 0; }

h1 {
  text-align: center; }

h2 {
  margin-top: 0;
  margin-bottom: 20px; }

h2 + p,
h3 + p {
  margin-top: -10px;
  margin-bottom: 20px; }

hr {
  width: calc(100% + 40px);
  margin-left: -20px;
  margin-top: 20px;
  margin-bottom: 40px; }

iframe {
  max-width: 100%; }

.bloc {
  margin: 0 auto;
  border: 1px solid #AAA;
  background-color: #F9F9F9;
  margin-bottom: 10px;
  padding: 20px; }
  .bloc h3, .bloc h2 {
    margin-top: 0; }
  .bloc p:last-child {
    margin-bottom: 0; }

.row {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%; }
  .row--wrap {
    flex-wrap: wrap; }
    .row--wrap::after {
      content: "";
      flex: auto; }
  .row .col--mid {
    width: 49%; }

ul {
  text-align: left; }

.bloc--lazy {
  margin-top: 200vh; }

button {
  transition: all .3s ease; }

button:hover {
  background-color: black;
  color: white; }

.no-animation {
  transition-duration: 0s; }

.circle {
  width: 100px;
  height: 100px;
  background-color: red;
  border: 10px solid black;
  border-radius: 100%;
  transition: all 5s linear; }

.transition--3d:hover .circle {
  transform: translate3d(400px, 0, 0); }

.transition--reflow:hover .circle {
  margin-left: 400px; }

.animation--3d .circle {
  animation: animtransform 5s linear alternate infinite; }

.animation--reflow .circle {
  animation: animmargin 5s linear alternate infinite; }

.animation--no .circle {
  transition-duration: 0; }

@font-face {
  font-family: 'Croissant One';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/croissantone/v7/3y9n6bU9bTPg4m8NDy3Kq24UA3NgnrUeN--VHQ.woff2) format("woff2"); }

.font--typekit {
  font-family: "gilbert"; }

.font--google {
  font-family: "Croissant One"; }

@keyframes animmargin {
  0% {
    margin-left: 0px; }
  100% {
    margin-left: 300px; } }

@keyframes animtransform {
  0% {
    transform: translate3d(0px, 0, 0); }
  100% {
    transform: translate3d(300px, 0, 0); } }

