@keyframes animmargin {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 400px;
  }
}
@keyframes animtransform {
  0% {
    transform: translate3d(0px,0,0);
  }
  100% {
    transform: translate3d(400px,0,0);
  }
}

img.half{
  width: 50%;
  height: auto;
}
figure{
  margin: 0;
}

section > img{
  /*position: relative;*/
}

body{
  text-align: center;
  background-color: #F0F0F0;
}
section{
  background-color: white;
  margin: 20px;
  padding: 20px;
}
h2{
  margin-top: 0;
  margin-bottom: 20px;
}

.bloc{
  margin: 0 auto;
  text-align: center;
  border: 1px solid black;
  margin-bottom: 10px;
}

ul{
  text-align: left;
}
.bloc--lazy{
  margin-top: 200vh;
}
button{
  transition: all .3s ease;
}
button:hover{
  background-color: black;
  color: white;
}

.circle{
  width: 100px;
  height: 100px;
  background-color: red;
  border: 10px solid black;
  border-radius: 100%;
  transition: all 5s linear;
}

.transition--3d:hover .circle{
  transform: translate3d(400px,0,0);
}
.transition--reflow:hover .circle{
  margin-left: 400px;
}
.animation--3d .circle{ 
  animation: animtransform 5s linear alternate infinite;
}
.animation--reflow .circle{
  animation: animmargin 5s linear alternate infinite;
}