.lowweb{
  &--hidden{
    visibility: hidden !important;
  }
  &__compute-styles{
    display: none!important;
  }
}
// TODO avoid *
// doesn't seem to work perfectly
* {
  scroll-behavior: initial !important;
}