name: Test

on:
  - pull_request
  - push

env:
  EXTENSION_INSTALLED: "true"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: npm install
      - run: npm test
        